

#chatBox {
    border-right: 2px solid black;
    margin-bottom: 3%;
}

#checkboxes {
    display: block;
    margin-left: 350px;
    width: 300px;
}

.container {
    text-align: center;
    border: 2px solid black;
    width: 80%;
    height: 500px;
    margin-top: 250px;
    margin-bottom: 250px;

}

#clearButton {
  display: inline;
  background-color: #B5B5B4;
}

#userInput {
  width: 700px;
  float: right;
  height: 80px;
}

h1, h2, h4 {
  text-align: center;
}



