

#chatBox {
    border-right: 2px solid black;
    margin-bottom: 3%;
    float: left;
}

#checkboxes {
    display: block;
    margin-left: 350px;
    width: 300px;
}

.container {
    text-align: center;
    border: 2px solid black;
    width: 80%;
    height: 500px;
    margin-top: 250px;
    margin-bottom: 250px;

}
/*#messageLine {
  float: left;
}*/

#clearButton {
  display: inline;
  background-color: #B5B5B4;
}

#userInput {
  width: 700px;
  float: right;
  height: 80px;
}

h1 {
  text-align: center;
}
.staysBlack {
  background-color: grey;
}
.stayLarge {
  font-size: 2em;
}


