

#chatBox {
    margin-bottom: 3%;
    float: left;
}

#checkboxes {
    display: block;
    margin-left: 350px;
    width: 300px;
}

.container {
    /*text-align: center;*/
    border: 2px solid black;
    width: 80%;
    height: 500px;
    margin-top: 250px;
    margin-bottom: 250px;
    overflow: auto;

}

.deleteButton {
  background-color: #6E92A1;
}
#clearButton {
  display: inline;
  background-color: #B5B5B4;
}

#userInput {
  width: 700px;
  float: right;
  height: 80px;
  font-size: 2em;
}

h1 {
  text-align: center;
}
.darkThemeColors {
  background-color: black;
  /*background-color: #AFAFAF;*/
  color: white;
  border-color: white;
}
.LargeTextLetters {
  font-size: 1.5em;
}


